/.coverage
/src/SuSSE.egg-info/
/.benchmarks/
/.eggs/
/.tox/
/build/
/build/bdist.linux-x86_64/
/build/lib/
/dist/
/prof/
/.susse_venv/

# file for storing environment variables
.env

# cache files
__pycache__/
